.ul-block {
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

.li-block {
  padding: 15px 15px;
}

.li-block a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.main-header {
  background-color: black;
}
